table {
  /* border: 1px solid #000; */
  width: 70vw;
  margin: 5em auto;
  text-align: start;
  border-spacing: 0;
}
th {
  text-align: start;
  font-size: .8em;
  padding-bottom: 1.2em;
}
td {
  font-size: .7em;
  padding-bottom: 1em;
  padding-top: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
td .td-btn {
  border-color: red;
}