<!-- <div class="collectionmain"> -->

<!-- <div class="carousel   col-2"> -->
<div class="collections fade">

    <div class="coll">
        <h1>Collections</h1>
        <p><b>Discover Your New Favourite Book Today! <br><br> Browse Our Wide
                Selection Of
                Bestsellers, <br><br>
                New Releases, And Hidden Gems</b></p>
        <button id="shopnow">
            <!-- <ion-icon name="bag-handle-outline"></ion-icon> -->
            SHOP NOW
        </button>
    </div>

    <div class="passionwithin">
        <img src="../../../assets/images/Hero 1.svg">
    </div>
</div>
<!-- </div> -->


<div class="authorsdiv" id="authorsdiv">
    <div class="authors">
        <div class="authorslist">
            <div class="william"><b>William Shakespeare</b></div>
            <div class="michelle"><b>Michelle Obama</b></div>
            <div class="Stephen"><b>Stephen King</b></div>
            <div class="Rowling"><b>J.K Rowling</b></div>
        </div>

        <div class="popularauthors">
            <div id="verticaltext">Explore Popular Authors</div>
            <div class="section1">
                <img src="../../../assets/images/Becoming.jpg">
            </div>
            <div class="section2">
                <img src="../../../assets/images/findpeople.jpg">
                <img src="../../../assets/images/atomichabits.jpg">
            </div>
            <div class="section3">
                <img src="../../../assets/images/TastesLikeShakkar.jpg">
            </div>

        </div>
    </div>
</div>



<div class="harrypotterback">
    <div class="logobackground"><img src="../../../assets/icons/logo.png"></div>
    <div class="harrypotter">
        <div class="harrypotterlogo"><img src="../../../assets/icons/logo.png"></div>
        <div>
            <p>Books, The Ultimate Escape, Get Lost In<br><br>The Pages Where The Adventure
                Begins<br><br>And
                Escape
                To
                A World Of Imagination</p><br>
        </div>
        <button id="seecollection">
            <b>SEE COLLECTION</b>
        </button>
    </div>

</div>


<div class="bestsellersdiv">
    <div class="bestsellerstitle">
        <h2><b>Best Sellers</b></h2>
    </div>
    <div class="upperdiv">
        <div class="bestsellers">
            <div class="best">
                <img src="../../../assets/images/paris.jpg">
                <p><b>Lost and Found In Paris</b></p>
                <p><b>$63.85</b></p>
            </div>
            <div class="best">
                <img src="../../../assets/images/lessonsinchemistry.jpg">
                <p><b>Lessons in Chemistry</b></p>
                <p><b>$63.85</b></p>

            </div>
            <div class="best">
                <img src="../../../assets/images/thankyou.jpg">
                <p><b>Thank You for Listening</b></p>
                <p><b>$63.85</b></p>

            </div>
            <div class="best">
                <img src="../../../assets/images/theweddingcrasher.jpg">
                <p><b>The Wedding Crasher</b></p>
                <p><b>$63.85</b></p>

            </div>
        </div>

    </div>
</div>