
<nav>
    <div class="first">
            <ul>
                <li> <a href="#" style="padding-top: 50px;"> Account </a></li>
                <li> <img src="../../../assets/icons/logo.png" alt="" style="height: 50px;"></li>
                <li> <a href="#" style="padding-top: 50px;"> Shipping </a></li>
            </ul>
    </div>

    <div class="second">
        <ul>
            <li> <a href=""> HOME </a></li>
            <li> <a href=""> PRODUCTS </a></li>
            <li> <a href="">LOGIN </a></li>
            <li> <a href=""> CART </a></li>
        </ul>
        
    </div>
</nav>
