* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#woman {
    width: 400px;
    height: 565px;

}
a{
    color: black;
}

span {
    color: red;
}

.maincontainer {
    /* width: 98vw;*/
    height: 100vh;
    background-color: rgba(185, 201, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    width: 70vw;
    height: 80vh;
    margin: auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.top {
    text-align: center;
}

.formDiv {
    background-color: white;
    padding: 30px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* height: 460px; */
}

/* .form {
    background-color: white;
    padding: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 460px;

} */

#logo {
    width: 300px;
    font-size: 900;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* padding: 40px; */
    margin-bottom: 10px;

}

#forgotpassword {
    text-align: end;
}

.register {
    padding: 12px;
    border-radius: 10px;
    border-color: transparent;
    color: black;
    background-color: rgba(185, 201, 255, 255);
}

button {
    font-weight: 900;
}

.alternative {
    text-align: center;

}


input,
select {
    padding: 10px;
    background-color: rgba(185, 201, 255, 255);
    border-radius: 5px;
    border-color: transparent;
    outline: none;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.invalid {
    background-color: rgba(185, 201, 255, 255);
}

.valid {
    background-color: red;
}
