<div class="container">
  <div class="sidebar">
    <div class="story">
      <img src="../../../assets/icons/logo.png" alt="" srcset="">
    </div>
    <div class="bottom">

      <div>
        <h3>Admin Dashboard</h3>
      </div>
      <div class="nav-links">
        <img src="../../../assets/icons/icons8-book-shelf-40.png" alt="" srcset="">
        <a routerLink="admin">Products</a>
      </div>
      <div class="nav-links">
        <img src="../../../assets/icons/icons8-delivery-box-64.png" alt="" srcset="">
        <a routerLink="orders">Orders</a>
      </div>
      <div class="nav-links">
        <img src="../../../assets/icons/icons8-user-40.png" alt="" srcset="">
        <a routerLink="customers">Customers</a>
      </div>
      <div class="nav-links" id="add-book">
        <img src="../../../assets/icons/book.png" alt="" srcset="">
        <a routerLink="add-product">Add a new book</a>
      </div>
    </div>
    </div>
    <div class="left">
    <div class="left-carousel">
        <div class="products-card">
          <h3>Products</h3>
        </div>
        <div class="customers-card">
          <h3>Customers</h3>
        </div>
        <div class="orders-card">
          <h3>Orders</h3>
        </div>
        <!-- <h1>Carousel</h1> -->
        <!-- <app-slider></app-slider> -->
    </div>
    <div class="left-tabledata">
      <!-- <app-products></app-products> -->
      <!-- <app-orders></app-orders> -->
      <router-outlet></router-outlet>
        <!-- <table>
          <th>User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
          <tr>
            <td>#WIERTS878</td>
            <td>Jane</td>
            <td>Doe</td>
            <td>janedoe@gmail.com</td>
            <td class="td-btn"><button>Disable</button></td>
          </tr>
        </table> -->
    </div>
  </div>
</div>
