.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 10rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
