<div class="container">
  <div class="products">
    <!-- <h2>Your products.</h2> -->
    <!-- Single Item in your cart -->
    <!-- Book 1 -->
    <div class="book" *ngFor="let c of cartItem">
      <div class="book-image">
        <img src="{{ c.product_image_url }}" alt="" />
      </div>
      <div class="book-description">
        <div class="title">
          <h3>{{ c.name }}</h3>
          <p>Home Delivery</p>
          <div class="quantity">
            <div class="minus">-</div>
            <div class="no">{{ c.quantity }}</div>
            <div class="add">+</div>
          </div>
        </div>
        <div class="total-amount">
          <h4>{{ c.quantity * c.price }}</h4>
        </div>
        <div>
          <button (click)="removeItem(c.id)">Remove</button>
        </div>
      </div>
    </div>
    <!-- Book 2 -->
    <!-- <div class="book">
      <div class="book-image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41VH33HEACL.jpg" alt="">
      </div>
      <div class="book-description">
        <div class="title">
          <h3>48 Laws of Power</h3>
          <p>Home Delivery</p>
          <div class="quantity">
            <div class="minus">-</div>
            <div class="no">4</div>
            <div class="add">+</div>
          </div>
        </div>
        <div class="total-amount">
          <h4>$500</h4>
        </div>
      </div>
    </div> -->

    <!-- Book 3 -->

    <!-- <div class="book">
      <div class="book-image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41VH33HEACL.jpg" alt="">
      </div>
      <div class="book-description">
        <div class="title">
          <h3>48 Laws of Power</h3>
          <p>Home Delivery</p>
          <div class="quantity">
            <div class="minus">-</div>
            <div class="no">4</div>
            <div class="add">+</div>
          </div>
        </div>
        <div class="total-amount">
          <h4>$500</h4>
        </div>
      </div>
    </div> -->
  </div>
  <div class="cart-amount" *ngIf="cartItem.length > 0">
    <div class="subtotal-amount">
      <div>Subtotal</div>
      <div><h2>{{productsTotals | currency}}</h2></div>
    </div>
    <div class="check-out">
      <button (click)="checkout()">Checkout</button>
    </div>
    <div class="captcha">
      <p>This site is protected by</p>
      <p>Google policy</p>
      <p>T&Cs Apply</p>
    </div>
  </div>
</div>
