

<div class="bookView">
  <div class="bookView-container">

    <div class="book-img">
      <img src='{{books!.product_image_url}}' alt="{{books!.name}}">
    </div>

    <div class="description">
                    <p><b>{{books!.name}}</b></p>
                    <p>{{books!.description}}</p>
                    <p id="price">{{books!.price | currency}}</p>
                    <br>
                    <button class="add" (click)="addToCart(book)" >Add To Cart</button>
    </div>
  </div>
</div>
