<div class="container">
    <div class="content">
        <header>
            <div class="logoheader">
                <div class="searchdiv">
                    <!-- <ion-icon name="search-outline"></ion-icon> -->
                    <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                        <input id="search-box" type="text" class="form-control" placeholder="Search Books!...">
                        <button id="search" class="btn btn-primary" onclick="">Search</button>
                    </div>
                </div>
                <div class="logodiv">
                    <img src="../../../assets/icons/logo.png">
                </div>

                <div class="accountdiv">
                    <div class="accounticon">
                        <!-- <ion-icon name="person-outline"></ion-icon> -->
                        <b>Account</b>
                    </div>
                    <div class="shoppingicon">
                        <!-- <ion-icon name="bag-handle-outline"></ion-icon> -->
                        <b>Shopping</b>

                    </div>
                </div>

            </div>
            <!-- <hr> -->
            <div class="navbar">
                <a href="category.html" class="romance"> Romance</a>
                <a href="category.html" class="romance"> Horror</a>
                <a href="category.html" class="romance"> Adventure</a>
                <a href="category.html" class="romance"> Classics</a>
                <a href="category.html" class="romance"> Crime</a>
                <a href="category.html" class="romance"> Historical</a>
                <a href="category.html" class="romance"> Self-Help</a>

            </div>
        </header>

    </div>

<!--
    <div class="newbooksdiv">
        <div class="newbooks">
            <div class="newbookstitle">
                <h2><b>New Books</b></h2>
            </div>

            <p id="allbooks"><b>All Books</b></p>
            <div class="allbooks">
                <div class="book">
                    <img src="../../../assets/images/knock-knock.jpg">
                    <p><b>Knock Knock</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/dating_dr_dil.jpg">
                    <p><b>Dating Dr Dil</b></p>
                    <p><b>$63.85</b></p>
                </div>

                <div class="book">
                    <img src="../../../assets/images/thewonkeydonkey.jpg">
                    <p><b>The Wonkey Donkey</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/CBT.jpg">
                    <p><b>CBT</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/honeyandspice.jpg">
                    <p><b>Honey and Spice</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/thehuntingparty.jpg">
                    <p><b>The Hunting Party</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/itendswithus.jpg">
                    <p><b>It Ends with Us</b></p>
                    <p><b>$63.85</b></p>

                </div>
                <div class="book">
                    <img src="../../../assets/images/moana.jpg">
                    <p><b>Moana</b></p>
                    <p><b>$63.85</b></p>

                </div>
            </div>
        </div>
    </div> -->

    <div class="footer">
        <div class="footertext">
            <div class="storyshop">
                <div><img id="footerlogo" src="../../../assets/icons/logo.png"></div>
                <div>
                    <p>Fuel Your Imagination With A Never Ending Supply of Stories!<br><br> Visit Us To Explore
                        A
                        World
                        Of
                        Possibilities And Be Transported<br><br>To New Realms With Every Turn Of The Page.</p>
                </div>

            </div>
            <div class="catalog">
                <div>
                    <h3>CATALOG</h3>
                </div>
                <a href="category.html" class="romance"> Horror</a>
                <a href="category.html" class="romance"> Adventure</a>
                <a href="category.html" class="romance"> Classics</a>
                <a href="category.html" class="romance"> Crime</a>
            </div>
            <div class="aboutus">
                <div>
                    <h3>ABOUT US</h3>
                </div>
                <a href="aboutus.html" class="aboutus">About Us</a>
            </div>
            <div class="customerservices">
                <div>
                    <h3>CUSTOMER SERVICES</h3>
                </div>
                <a href="contact.html" class="contacts"> Contact Us</a>
            </div>

        </div>

        <div class="footericons">
            <!-- <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-linkedin"></ion-icon> -->
        </div>
    </div>
    <div class="end">
        <div class="copyright"> &copy; 2023 THE STORY SHOP.</div>
        <div class="scroll">Scroll to the top
            <!-- <ion-icon id="arrow" name="arrow-up-outline"></ion-icon> -->
        </div>
    </div>

</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

