<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/category.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Category</title>
</head>

<div class="topmain">
    <div class="topmaincontent">
        <header>

            <!-- <hr> -->
            <div class="navbar">
                <a href="category.html" class="romance"> Romance</a>
                <a href="category.html" class="romance"> Horror</a>
                <a href="category.html" class="romance"> Adventure</a>
                <a href="category.html" class="romance"> Classics</a>
                <a href="category.html" class="romance"> Crime</a>
                <a href="category.html" class="romance"> Historical</a>
                <a href="category.html" class="romance"> Self-Help</a>

            </div>
        </header>
    </div>

</div>

<body>
    <div class="newbooksdiv">
        <div class="newbooks">
            <div class="newbookstitle">
                <h2><b>All Books</b></h2>
            </div>

            <!-- <p id="allbooks"><b>All Books</b></p> -->
            <div class="allbooks" *ngIf="books.length>0; else nothing">
                <div class="book" *ngFor="let book of books" 
                (click)="viewBook(book.id)">

                    <img src='{{book.product_image_url}}'>
                    <p><b>{{book.name}}</b></p>
                    <p><b>{{book.price | currency}}</b></p>
                    <!-- <button class="add" (click)="viewBook(book.id)">View More</button> -->
                    <button class="add" (click)="addToCart(book)">Add To Cart</button>
                </div>

            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->

    <ng-template #nothing>

      <h1>NO BOOKS AVAILABLE. PLEASE COME BACK LATER</h1>
    </ng-template>

    <!-- <div class="footer">
        <div class="footertext">
            <div class="storyshop">
                <div><img id="footerlogo" src="../../../assets/icons/logo.png"></div>
                <div>
                    <p>Fuel Your Imagination With A Never Ending Supply of Stories!<br><br> Visit Us To Explore
                        A
                        World
                        Of
                        Possibilities And Be Transported<br><br>To New Realms With Every Turn Of The Page.</p>
                </div>

            </div>
            <div class="catalog">
                <div>
                    <h3>CATALOG</h3>
                </div>
                <a href="category.html" class="romance"> Horror</a>
                <a href="category.html" class="romance"> Adventure</a>
                <a href="category.html" class="romance"> Classics</a>
                <a href="category.html" class="romance"> Crime</a>
            </div>
            <div class="aboutus">
                <div>
                    <h3>ABOUT US</h3>
                </div>
                <a href="aboutus.html" class="aboutus">About Us</a>
            </div>
            <div class="customerservices">
                <div>
                    <h3>CUSTOMER SERVICES</h3>
                </div>
                <a href="contact.html" class="contacts"> Contact Us</a>
            </div>

        </div>

        <div class="footericons">
            <!-- <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-linkedin"></ion-icon> -->
        <!-- </div>
    </div> -->
    <!-- <div class="end">
        <div class="copyright"> &copy; 2023 THE STORY SHOP.</div>
        <div class="scroll">Scroll to the top
            <ion-icon id="arrow" name="arrow-up-outline"></ion-icon>
        </div>
    </div> -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
