
<footer>
    <div class="info">
        <h5>THE STORY SHOP</h5>
        <p>Fuel your imagination with a never-ending supply of stories. <br> 
        Visit us to explore A world of possibilities and be transported <br>
         to new realms with every turn of the page  </p>
    </div>

    <div class="catalog">
        <h4>CATALOG</h4>
        <ul>
            <li>Horror</li>
            <li>Adventure</li>
            <li>Classics</li>
            <li>Crime</li>
        </ul>
    </div>

    <div class="about">
        <h4>ABOUT US</h4>
        <ul>
            <li>About Us</li>
        </ul>
    </div>

    <div class="customer">
        <h4>CUSTOMER SERVICES</h4>
        <ul>
            <li>Contact Us</li>
        </ul>
    </div>
</footer>


<!-- <div class="icons">
    <a href="#"> <ion-icon name="logo-facebook" style="color: rgba(35,166,240,255)"></ion-icon> </a>
    <a href="#"> <ion-icon name="logo-instagram" style="color: rgba(35,166,240,255)"></ion-icon>
    </a>
    <a href="#"> <ion-icon name="logo-twitter" style="color: rgba(35,166,240,255)"></ion-icon> </a>
</div> -->

<div class="end">
    <p> The Story Shop.</p> 
    <p> With Love by Figmaland. All Rights Reserved </p> 
    <a href="#"> Scroll to Top </a>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>